<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'hello/style/cool.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'hello/style/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'hello/style/content.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'hello/style/kvest.css' %}"
    />
  </head>

  <body>
    <div class="oki" id="begin">
      <div class="first">
        <strong><a href="{% url 'home' %}" class="navbar-brand">Главная</a></strong>
        <strong><a href="{% url 'about' %}" class="navbar-item">Квесты</a></strong>
        <strong><a href="{% url 'list' %}" class="navbar-item">Крутой список</a></strong>
      </div>

      <div class="second">
        <a href="{% url 'kvest2' %}#two_mode" class="navbar-item">
          <img src="{% static 'hello/bookmark.png' %}" alt="Book mark" style="height: 50px;">
        </a>
        <a href="{% url 'task' %}" class="navbar-item">
          <img src="{% static 'hello/task.png' %}" alt="Task Image" style="width: 150px;">
        </a>
        <a href="https://t.me/polirybka" class="navbar-item" target="_blank">
          <img src="{% static 'hello/link.png' %}" alt="Task Image" style="height: 50px;">
        </a>
        <a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%BE%D0%BC%D1%8F%D0%BA%D0%B8" class="navbar-item">
          <img src="{% static 'hello/хомяк.png' %}" alt="Task Image" style="height: 50px;">
        </a>
      </div>
    </div>

    <div class="body-content">
      {% block content %}{% endblock %}
      <footer>
        <p>&copy; 2024</p>
        <p>Барыбина Полина</p>
        <p>Контрольная работа 1</p>
      </footer>
    </div>
  </body>
</html>

